<div class="container">   
    <h1 class="text">Esplora le Stelle con  astra & co</h1> 
      <p class="text2">
        Benvenuti su <span>"Viaggi Spaziali per Terrestri Sfortunati"</span>
        Sei stufo di rimanere bloccato su questa noiosa palla di fango chiamata Terra? 
        Hai sempre desiderato sfrecciare tra le stelle con un <span>razzo urlante</span> al di sotto di te? 
        Beh, amico mio, sei nel posto giusto</p>
        <h1 class="text4">Chi Siamo</h1> 
        <p class="text3">
        Siamo un gruppo di scappati di casa intergalattici 
        che ha deciso di mettere in piedi questa impresa folle per portare avventure spaziali
         a quelli di voi che sono abbastanza coraggiosi <span>(o abbastanza folli)</span> da salire a bordo. 
         Dopo tutto, chi ha bisogno di gravità quando puoi  <span>saltellare in giro tra gli asteroidi?</span></p>
    <video autoplay muted loop id="video-background">
      <source src="https://videos.pexels.com/video-files/1851190/1851190-hd_1920_1080_25fps.mp4" type="video/mp4" >
    </video>
  </div>



