body, html {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: starwars;
  src: url("../../assets/font/spaceage.ttf"); 

}
.container {
  width: 100vw; 
  height: 100vh; 
  overflow: hidden;
  position: relative; 
  z-index: 1;
}

 

.text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(166, 0, 255); /* Cambia il colore del testo se necessario */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: 2; /* Assicura che il testo sia sopra il video */
  text-align: center; /* Allinea il testo al centro */
  font-family: starwars;
}
.text2{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 151, 236); /* Cambia il colore del testo se necessario */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: 2; /* Assicura che il testo sia sopra il video */
  text-align: center; /* Allinea il testo al centro */
  font-family: starwars;
  font-size: 22px;
  

}
.text4 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(166, 0, 255); /* Cambia il colore del testo se necessario */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: 2; /* Assicura che il testo sia sopra il video */
  text-align: center; /* Allinea il testo al centro */
  font-family: starwars;
  
}
.text3 {

  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 157, 237); /* Cambia il colore del testo se necessario */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: 2; /* Assicura che il testo sia sopra il video */
  text-align: center; /* Allinea il testo al centro */
  font-family: starwars;
  font-size: 22px;
 
}

span {
  font-family: starwars;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #b705fe, 0 0 0.3em #9605fe;
  }
