<div class="container">
    
<h1 class="font">Astra & Co</h1>
<div class="all">
    <div class="lefter">
      <div (click)="apriRazzo()"class="text">Razzo</div>
    </div>
    <div class="left">
      <div (click)="apriBiglietti()" class="text">biglietti</div>
    </div>
    <div class="center">
      <div class="explainer"><span>benvenuto</span></div>
      <div  (click)="apriHome()" class="text">home</div>
      </div>
    <div class="right">
      <div (click)="apriLuna()"class="text">luna</div>
    </div>
    <div class="righter">
      <div (click)="apriMarte()"class="text">marte</div>
    </div>
    </div>
    </div>
