<div class="container">
    
<h1 class="font">Astra & Co</h1>
  
<div class="all">
    <div class="lefter">
      <div class="text">Razzo</div>
    </div>
    <div class="left">
      <div class="text">biglietti</div>
    </div>
    <div class="center">
      <div class="explainer"><span>benvenuto</span></div>
      <div class="text">home</div>
      </div>
    <div class="right">
      <div class="text">luna</div>
    </div>
    <div class="righter">
      <div class="text">marte</div>
    </div>
    </div>
    </div>
