@font-face {
    font-family: starwars;
    src: url("../../assets/font/spaceage.ttf"); 
  
  }
.elementi {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .card {
    width: 80%; 
    margin-bottom: 20px; 
  }
  
  .row {
    display: flex;
    justify-content: space-between; 
  }
  
  .img {
    width: 30%; 
  }
  
  .info {
    width: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    color: rgb(225, 0, 255); 
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
    font-family: starwars;
    font-size: 22px;
  }
  
  .divisore {
    width: 100%;
  }
  
  .text {
    text-align: right; 
    color: rgb(166, 0, 255); 
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
    font-family: starwars;
    font-size: 22px;
  }
  #sfondo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  