<div class="paragrafo">  
  <p class="text">l razzo "Super Cannone" è il frutto di anni di ricerca e sviluppo 
    da parte di un team di ingegneri visionari e audaci. 
    La visione di questo progetto è quella di rendere l'esplorazione spaziale accessibile a tutti,
     offrendo un mezzo di trasporto sicuro, efficiente ed economicamente sostenibile per raggiungere le stelle.</p>
  <img src="https://img.freepik.com/premium-photo/purple-blue-futuristic-rocket-ai-generative_555017-1297.jpg">

</div>
<div class="paragrafo2">  
  <p class="text2">Con il razzo "Super Cannone", il cielo non è più il limite. Le destinazioni possibili sono infinite, 
    dall'esplorazione di pianeti lontani alla ricerca di vita extraterrestre, alla colonizzazione di nuovi mondi. 
    Ogni viaggio con il razzo "Super Cannone" è un'avventura straordinaria verso l'ignoto.</p>
  <img src="https://img.freepik.com/fotos-premium/uma-ilustracao-futurista-de-uma-nave-espacial-com-fundo-roxo-e-um-letreiro-de-neon-que-diz-espaco_659722-3253.jpg">

</div>
      <img id="sfondo" src="https://cdn.pixabay.com/photo/2019/01/02/02/37/background-3907905_1280.jpg" >
      


