@font-face {
  font-family: starwars;
  src: url("../../assets/font/spaceage.ttf"); 

}
.paragrafo{
  text-align: center;

}
.paragrafo2{
  text-align: center;

}
.content img {
  width: 200px; 
  height: auto; 
  display: block; 
  margin: 0 auto 20px; 
  border-radius: 10px; 
  border: 3px solid #ccc; 
}

.text{

  color: rgb(255, 151, 236); 
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  font-family: starwars;
  font-size: 22px;
}

#sfondo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.text2{
  color: rgb(255, 151, 236); 
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  font-family: starwars;
  font-size: 22px;
}